* {
    margin: 0;
    overflow-x: hidden;
}

.navbar {
    height: 80px;
    width: 100vw;
    background-color: #161616;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar a {
    text-decoration: none;
    color: white;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    padding-left: 20px;
}

.logo p2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.cats {
    font-family: 'Inter';
    font-weight: bold;
    font-size: 20px;
    padding-right: 50px;
    text-align: center;
    height: 30px;
}

.cats a {
    padding: 10px;
    text-align: center;
}

.introduction {
    height: 600px;
    background-color: #161616;
    width: 100vw;
    display: flex;
    justify-content: center;
    font-family: 'Inter';
    color: white;
}

.works {
    background-color: #161616;
    display: flex;
    justify-content: center;
    font-family: 'Inter';
}

.introbox {
    width: 1580px;
    position: relative;
}

.text {
    position: absolute;
    top: 200px;
    padding-left: 30px;
    max-width: 865px;

}

.text h1 {
    font-size: 50px;
}

.text h2 {
    font-size: 40px;
    padding-top: 20px;
}

.text p {
    font-size: 20px;
    padding-top: 30px;
}

.profileshot {
    position: absolute;
    right: 50px;
    top: 80px;
}

.profileshot img {
    height: 400px;
}

.workbox {
    width: 2048px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    color: white;
}

.work1 {
    background-color: white;
    width: 1024px;
    height: 312px;
    align-items: center;
    display: flex;
    border-radius: 15px;
    position: relative;
}

.work1 h1 {
    padding-right: 100px;
    position: absolute;
    right: 125px;
    color: #161616;
}

.work1 img {
    height: 250px;
    position: absolute;
    left: 50px;
}

.work2 {
    background-color: white;
    width: 1024px;
    height: 312px;
    align-items: center;
    display: flex;
    border-radius: 15px;
    position: relative;
}

.work2 h1 {
    padding-right: 100px;
    position: absolute;
    right: 100px;
    color: #161616;
}

.work2 img {
    height: 250px;
    position: absolute;
    left: 75px;
}

.work3 {
    background-color: white;
    width: 1024px;
    height: 312px;
    align-items: center;
    display: flex;
    border-radius: 15px;
    position: relative;
}

.work3 h1 {
    padding-right: 100px;
    position: absolute;
    right: 100px;
    color: #161616;
}

.work3 img {
    height: 250px;
    position: absolute;
    left: 95px;
    border-radius: 15px;
}


.socials {
    padding: 50px;
    display: flex;
    justify-content: center;
    background-color: #F5F5EF;
    font-family: 'Inter';
    background-color: #161616;
    color: white;
}

.socialsbox {
    width: 2048px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.social {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.socialsbox a {
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 20px;
}

.bi-linkedin {
    font-size: 25px;
    text-decoration: none;
    color: white;
}

.bi-envelope {
    font-size: 25px;
}

.bi-whatsapp {
    font-size: 25px;
}



/*  Work */

.bworks {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    background-color: #161616;
}

.bworksbox {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 2048px;
    gap: 20px;
    font-family: 'Inter';
}

.wcontent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 50px;
    font-family: 'Inter'
}

.box1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    height: 450px;
    width: 450px;
    gap: 50px;
    border-radius: 15px;
}

.box1 img {
    height: 250px;
}

.box2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    height: 450px;
    width: 450px;
    gap: 50px;
    border-radius: 15px;
}

.box2 img {
    height: 250px;
}

.title {
    display: block;
    color: white;
}

.bworksbox h1 {
    color: white;
}

#overlay1 {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
}

.overlaybox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    width: 1000px;
    background-color: white;
    border-radius: 15px;
    font-family: 'Inter';
    flex-direction: column;
    position: relative;
}

.overlaybox video {
    height: 500px;
    padding: 20px;
}

.bi-x-square-fill {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 40px;
}

.overlaybox p {
    padding-top: 10px;
    padding-left: 60px;
    padding-right: 60px;
}

#overlay2 {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
}

#overlay3 {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
}

#overlay4 {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
}

.overlaybox iframe {
    height: 500px;
    width: 900px;
    padding: 20px;
    border: none;
}

#overlay5 {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
}

.overlaybox img {
    height: 500px;
    padding: 20px;
}

#overlay6 {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
}

#overlay7 {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
}

/*      ABOUT       */

.about {
    display: flex;
    justify-content: center;
    background-color: #161616;
}

.aboutbox {
    display: flex;
    justify-content: center;
    font-family: 'Inter';
    width: 1080px;
    color: white;
    padding: 20px;
    flex-direction: column;
    row-gap: 20px;
}

.aboutbox h1 {
    text-align: center;
    padding-bottom: 20px;
}

.aboutbox p {
    padding-bottom: 20px;
    font-size: 25px;
}

.gallerytext p {
    text-align: center;
}

.wcontent1 {
    padding-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 50px;
    font-family: 'Inter';
}

#slideshow { 
    margin: 50px auto; 
    position: relative; 
    width: 410px; 
    height: 540px; 
    padding: 10px; 
    background-color: white;
    border-radius: 15px;
}
  
#slideshow > div { 
    position: absolute; 
    top: 10px; 
    left: 10px; 
    right: 10px; 
    bottom: 10px;
    display: flex;
    align-items: center;
}

#slideshow img {
    height: 530px;
}

#slideshow div {
    display: flex;
    justify-content: center;
    align-content: center;
}

@media screen and (max-width:1080px) {
    .wcontent {
        flex-direction: column;
    }
    .work1 {
        width: 400px;
        height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: static;
        flex-direction: column;
        text-decoration: none;
    }
    .work1 h1 {
        color: #161616;
        position: static;
        right: 0;
        text-decoration: none;
        padding: 50px;
        text-align: center;
    }
    
    .work1 img {
        height: 250px;
        position: static;
        left: 0;
        text-decoration: none;
    }
    .work2 {
        background-color: white;
        width: 400px;
        height: 400px;
        align-items: center;
        display: flex;
        border-radius: 15px;
        position: static;
        flex-direction: column;
        justify-content: center;
    }
    
    .work2 h1 {
        position: static;
        right: 0px;
        color: #161616;
        padding: 50px;
    }
    
    .work2 img {
        height: 250px;
        position: static;
        left: 0px;
    }
    
    .work3 {
        background-color: white;
        width: 400px;
        height: 400px;
        align-items: center;
        display: flex;
        justify-content: center;
        border-radius: 15px;
        position: static;
        flex-direction: column;
    }
    
    .work3 h1 {
        padding: 40px;
        position: static;
        right: 0px;
        color: #161616;
    }
    
    .work3 img {
        padding: 10px;
        height: 250px;
        position: static;
        left: 0px;
        border-radius: 15px;
    }
    .workbox a {
        text-decoration: none;
    }
    .cats a {
        font-size: 15px;
        padding: 5px;
    }
    .cats {
        padding-right: 20px;
    }
    .logo {
        font-size: 25px;
    }
    .overlaybox {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 500px;
        width: 450px;
        background-color: white;
        border-radius: 15px;
        font-family: 'Inter';
        flex-direction: column;
        position: relative;
    }
    .overlaybox video {
        height: 200px;
        padding:20px;
    }
    .overlaybox p {
        padding-top: 10px;
        padding-left: 60px;
        padding-right: 60px;
    }
    .overlaybox iframe {
        height: 200px;
        width: 400px;
        padding: 20px;
        border: none;
    }
    .overlaybox img {
        height: 200px;
        padding: 20px;
    }
}

@media screen and (max-width:1220px) {
    .introduction {
        height: fit-content;
        background-color: #161616;
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Inter';
        color: white;
    }
    .introbox {
        width: 1580px;
        position: static;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .text {
        position: static;
        top: 0px;
        padding: 30px;
        max-width: 865px;
        justify-content: center;
        text-align: center;
        display: flex;
        flex-direction: column;
    }
    .profileshot {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: static;
        right: 0px;
        top: 0px;
    }
    .profileshot img {
        height: 400px;
        padding: 20px;
    }
    .text h1 {
        font-size: 50px;
        height: fit-conten;
    }
    
    .text h2 {
        font-size: 40px;
        padding-top: 20px;
    }
    
    .text p {
        font-size: 20px;
        padding-top: 30px;
    }
}

@media screen and (max-height:800px) {
    .overlaybox {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 500px;
        width: 450px;
        background-color: white;
        border-radius: 15px;
        font-family: 'Inter';
        flex-direction: column;
        position: relative;
    }
    .overlaybox video {
        height: 200px;
        padding:20px;
    }
    .overlaybox p {
        padding-top: 10px;
        padding-left: 60px;
        padding-right: 60px;
    }
    .overlaybox iframe {
        height: 200px;
        width: 400px;
        padding: 20px;
        border: none;
    }
    .overlaybox img {
        height: 200px;
        padding: 20px;
    }
}

@media screen and (max-width:420px) {
    .cats a {
        font-size: 10px;
    }
    .overlaybox {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 500px;
        width: 350px;
        background-color: white;
        border-radius: 15px;
        font-family: 'Inter';
        flex-direction: column;
        position: relative;
    }
    .overlaybox video {
        height: 180px;
        padding:20px;
    }
    .overlaybox p {
        padding-top: 10px;
        padding-left: 30px;
        padding-right: 30px;
    }
    .overlaybox iframe {
        height: 200px;
        width: 300px;
        padding: 20px;
        border: none;
    }
    .overlaybox img {
        height: 190px;
        padding: 20px;
    }
    .overlaybox h2 {
        font-size: 19px;
    }
    .socialsbox h1 {
        font-size: 25px;
    }
}

@media screen and (max-width:510px) {
    .box2 {
        width: 350px;
    }
    .box2 h2 {
        font-size: 18px;
    }
    .box1 {
        width: 350px;
    }
    .box1 h2 {
        font-size: 18px;
    }
    .box1 img {
        height: 200px;
    }
    .box2 img {
        height: 200px;
    }
    #slideshow {
        width: 300px;
        height: 400px;

    }
    #slideshow img {
        height: 400px;
    }
    .work1 {
        width: 350px;
        height: 350px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: static;
        flex-direction: column;
        text-decoration: none;
    }
    .work1 h1 {
        color: #161616;
        position: static;
        right: 0;
        text-decoration: none;
        padding: 30px;
        text-align: center;
    }
    
    .work1 img {
        height: 200px;
        position: static;
        left: 0;
        text-decoration: none;
    }
    .work2 {
        background-color: white;
        width: 350px;
        height: 350px;
        align-items: center;
        display: flex;
        border-radius: 15px;
        position: static;
        flex-direction: column;
        justify-content: center;
    }
    
    .work2 h1 {
        position: static;
        right: 0px;
        color: #161616;
        padding: 30px;
    }
    
    .work2 img {
        height: 200px;
        position: static;
        left: 0px;
    }
    
    .work3 {
        background-color: white;
        width: 350px;
        height: 350px;
        align-items: center;
        display: flex;
        justify-content: center;
        border-radius: 15px;
        position: static;
        flex-direction: column;
    }
    
    .work3 h1 {
        padding: 30px;
        position: static;
        right: 0px;
        color: #161616;
    }
    
    .work3 img {
        padding: 10px;
        height: 200px;
        position: static;
        left: 0px;
        border-radius: 15px;
    }
}